# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [14]:
var1 = 100
var2 = 100
id(var1), id(var2), var1==var2

(133399125855568, 133399125855568, True)

вони посилаються на один і той самий об'єкт в пам'яті, бо місця під числа від -5 до 256 є зарезервованими в пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [17]:
var3 = True
isinstance(var3, bool), isinstance(var3, int)

(True, True)

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [25]:
var4 = 12
var5 = 3.4
var4 + var5, var4 - var5, var4 / var5, var4 * var5, var4 //(var5), var4 % var5, var4 ** var5

(15.4,
 8.6,
 3.5294117647058822,
 40.8,
 3.0,
 1.8000000000000003,
 4668.917893127239)

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [27]:
var6 = False
int(var5), int(var6)

(3, 0)

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [32]:
var7 = ""
var8 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [44]:
var61 = 'ol\''
var62 = r'ol\''
var61, var62

("ol'", "ol\\'")

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [31]:
var9 = "Malashchuk"
var10 = "My surname is "+var9
var10

'My surname is Malashchuk'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [46]:
var11 = "My dog is crazy"
var12 = var11.lower().split()
var12

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [49]:
list1 = []
list2 = list()

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [52]:
list12 = [1, 2, 3]
list22 = [4, 5, 6]
list12.append(list22)
list12

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [53]:
list3 = [[1,2], [3,4], [5,6]]
list3[-1][0]

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [69]:
list4 = [1, 2.0, "three", [4,4], None, (6,), {7: "1"}, 8 , 9, 10]
short_list = list4[2:8]
short_list

['three', [4, 4], None, (6,), {7: '1'}, 8]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [56]:
my_tuple = (1,)
my_tuple, isinstance(my_tuple, tuple)

((1,), True)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

кортежі (,) незмінні, нам дроведеться створювати новий об'єкт для цього (швидші). список [] - можна перезаписати дані в ньому і комірка пам'яті не зміниться (повільніші)

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [63]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
slice1 = tuple1[::-2]
slice1

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [64]:
my_set = set()
my_set.add(1)
my_set.add("two")
my_set.add(3.5)
my_set

{1, 3.5, 'two'}

Так, я тільки що методами змінила вміст множини

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [65]:
my_list1 = [1, 1, 2, 67, 67, 8, 9]
my_set1 = set(my_list1)
my_set1

{1, 2, 8, 9, 67}

всі дублі елементи видаляються, множина не містить дублікатів

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [66]:
s1 = {1, 2, 3, 4}
s2 = {4, 3, 5, 6}
s1.union(s2), s1.intersection(s2), s1.difference(s2), s1.symmetric_difference(s2)

({1, 2, 3, 4, 5, 6}, {3, 4}, {1, 2}, {1, 2, 5, 6})

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [67]:
{1: "1", 2.0: "1", "three": "1", (1,2): "1"}

{1: '1', 2.0: '1', 'three': '1', (1, 2): '1'}

ні, бо словник можна змінити у майбутньому, а ключі мають бути незмінюваними

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [68]:
dict = {1: {2:{3:"a treasure"}}}
dict[1][2][3]

'a treasure'

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.

дякую!!!